@import 'sass/font';
@import 'sass/variables';

@import 'sass/grid';


html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


body{
    margin:0;
    position:absolute;
    top:0;
    left:0;
    background-color:$lightGrey;
    min-height:1000px;
    width:100vw;
    overflow-x:hidden;
    font-family:$rosario;
    font-size:$normal;
    font-weight:$regular;
    color:$darkBlue;
    line-height:1.4;
    -webkit-font-smoothing: antialiased;
  
  }


header.header.cf {
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:0;
    width: 100vw;
    height:120px;
    background-color: #fff;
    border-bottom:1px solid #fcfcfc;
    .header-left-container{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        //border:1px solid black;
        width:30vw;
        height:120px;

        .social-network{
            margin:5px 20px;
        }

    }

    .header-center-container{
        //border:1px solid black;
        width:30vw;
        height:120px;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:center;
        .logo-container{
            display:block;
            position:relative;
            width:100px;
            height:50px;
            img {
                position: relative;
                display:block;
                margin: 20px auto 10px auto;
                width:52px;
                
                
            }
            &:before{
                content: '';
                display:block;
                z-index:0;
                position: absolute;
                margin:20px auto 10px auto;
                top:0;
                left:25px;
                width:50px;
                height:50px;
                border-radius:25px;
                background-color:$vivasvatYellow;
            }      
        }
        .site-title{
            margin:20px 10px;
            font-size:$big
        }
    }

    .header-right-container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:flex-end;
        //border:1px solid black;
        width:30vw;
        height:120px;
    }
}

nav {
    ul {
        li {
            a {
                z-index:2;
                text-decoration:none;
                color:$textGrey;
                position:relative;
                &:before{
                    content:'';
                    position:absolute;
                    z-index:-1;
                    top:10px;
                    left:0;
                    width:0;
                    height:10px;
                    transition: 0.2s ease;
                    background-color:$lightGrey;
                }
                &:hover:before{
                    width:100%;
                }
            }
            a.active{
                &:before{
                    content:'';
                    position:absolute;
                    z-index:-1;
                    top:10px;
                    left:0;
                    width:100%;
                    height:10px;
                    background-color:$vivasvatYellow;
                } 
            }
        
        }
    }
}

nav.languages{
    margin:10px 20px;
    ul {
        list-style: none;
        li {
            display:inline-block;
            margin: 0px 4px;
            //text-transform: uppercase;
            &.active{
                a:before{
                    content:'';
                    position:absolute;
                    z-index:-1;
                    top:10px;
                    left:0;
                    width:100%;
                    height:10px;
                    background-color:$vivasvatYellow;
                }
            }
        }
    }
}

nav.pages{
    
    float:right;
    ul{
        float:right;
        display:flex;
        justify-content:space-between;
        
        li{
            //border:1px solid black;
            overflow:visible;
            min-width:60px;
            text-align:center;
            display:inline-block;
            margin : 10px 10px;        
        }
    }
}