//style/sass/class.scss

#class {
    display:block;
    position:relative;
    float:left;
    font-size:$normal;
    width:100%;
    min-height:calc(100vh - 120px);
    padding-bottom:150px; 
}

.main-column {
    display:block;
    margin-top:100px;
    //border: 1px solid #F1F1F1;
}

.main-column__title,
.right-column__title {
    font-size:$medium;
    font-weight:$bold;
    margin-bottom:14px;
}

.main-column__day-separator{
    width:100%;
    position:relative;
    &:before {
        content:"";
        display:block;
        border-bottom:1px solid $lightGrey;
        width:100%;
        position:absolute;
        bottom:48%;
        z-index:0;
    }
    .main-column__day-title {
        display:inline-block;
        position:relative;
        z-index:2;
        font-size:$normal;
        font-weight:$bold;
        margin-left:20px;
        padding:0 10px;
        background-color:$white;
    }
}

$class-border-radius:5px;
$classBlockHeight:300px;


.class__container {
    display:flex;
    margin: 10px 0;
    border: 1px solid $lightGrey;
    border-radius:$class-border-radius;
    min-height:$classBlockHeight;
    color:$textGrey;
    .class__left-section{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:center;
        float:left;
        width:20%;
        height:inherit;
        border-top-left-radius:$class-border-radius;
        border-bottom-left-radius: $class-border-radius;
        font-size:$small;
        background-color:$vivasvatYellow;
        
        > * {
            margin:20px 0;
        }
        .class__timestamp {
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:space-between;
            height:90px;
            .class__start{
                font-weight:$bold;
                position:relative;
                &:after {
                    content:'';
                    position:relative;
                    left:48%;
                    top:5px;
                   
                    display:block;
                    height:200%;
                    width:2px;
                    border-left:1px solid $textGrey;
                    
        
                }
            }
           
        }
        .class__level-number {
            width:70%;
            text-align:center;
        }
    }
    .class__main-section {
        display:inline-block;
        width:80%;
        height:100%;
        > * {
            margin-left:20px;margin-right:20px;
        }
        .class__title{
            margin-top:20px;
            font-size:$medium;
            font-weight:$bold;
        }
        .class__location{
            font-size:$small;
            color:$textMediumGrey;
            .class__location-name{
                font-weight:$bold;
            }
        }
        .class__description{
            font-size:$small;
            a{
                color:$textGrey;
            }
        }
        hr{
            border: none;
            height: 1px;
            color: $lightGrey; /* old IE */
            background-color: $lightGrey; /* Modern Browsers */
        }

    }
}

.class__container.off{
    .class__left-section{
        background-color:$lightGrey;
        height:$classBlockHeight + 1px;
    }
    .class__main-section{
        .class__title{
            color:$textMediumGrey;
        }
    }
}

.right-column {
    display:block;
    margin-top:100px;
   
}

.right-column__container{
    padding:20px;
    font-size:$small;
    border: 1px solid #F1F1F1;
    border-radius:$class-border-radius;
    
}