// FONT AVANT GARDE
  
@font-face {
    font-family: "Rosario";
    src:url('./font/rosario/Rosario-Regular.ttf');
    font-weight:300;
    font-style:normal;
}

@font-face {
    font-family: "Rosario";
    src:url('./font/rosario/Rosario-Bold.ttf');
    font-weight:600;
    font-style:normal;
}

@font-face {
    font-family: "Rosario";
    src:url('./font/rosario/Rosario-Italic.ttf');
    font-weight:300;
    font-style:italic;
}

@font-face {
    font-family: "Rosario";
    src:url('./font/rosario/Rosario-BoldItalic.ttf');
    font-weight:600;
    font-style:italic;
}
 