.container_12 {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float:left;
}

.fluid{
    max-width: none;
}

.in-container_12{
    width:97vw;
    margin:0 auto 0 auto;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}


.container_12 .grid_1 {
    width: 8.333%;
}

.container_12 .grid_2 {
    width: 14.667%;
}

.container_12 .grid_3 {
    width: 23.0%;
}

.container_12 .grid_4 {
    width: 31.333%;
}

.container_12 .grid_5 {
    width: 39.667%;
}

.container_12 .grid_6 {
    width: 47.8%;
}

.container_12 .grid_7 {
    width:56.333%;
}

.container_12 .grid_8 {
    width: 64.667%;
}

.container_12 .grid_9 {
    width: 73.0%;
}

.container_12 .grid_10 {
    width: 81.333%;
}

.container_12 .grid_11 {
    width: 89.667%;
}

.container_12 .grid_12 {
    width: 100%;
}

.offset_0{
    margin-left:0;
}

.offset_1{
    margin-left:8.333%;
}

.offset_2{
    margin-left:16.667%;
}
.offset_3{
    margin-left:23.0%;
}
.offset_4{
    margin-left:31.3333%;
}
.offset_5{
    margin-left:39.667%;
}
.offset_6{
    margin-left:48.0%;
}
.offset_7{
    margin-left:56.33%;
}
.offset_8{
    margin-left:64.667%;
}
.offset_9{
    margin-left:73.0%;
}
.offset_10{
    margin-left:81.333%;
}
.offset_11{
    margin-left:89.667%;
}
.offset_12{
    margin-left:98%;
}

@media screen and (max-width: 1170px){

    .md_1,
    .md_2,
    .md_3,
    .md_4,
    .md_5,
    .md_6,
    .md_7,
    .md_8,
    .md_9,
    .md_10,
    .md_11,
    .md_12 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    }

    .container_12 .md_1 {
        width: 6.333%;
    }

    .container_12 .md_2 {
        width: 14.667%;
    }

    .container_12 .md_3 {
        width: 23.0%;
    }

    .container_12 .md_4 {
        width: 31.333%;
    }

    .container_12 .md_5 {
        width: 39.667%;
    }

    .container_12 .md_6 {
        width: 48.0%;
    }

    .container_12 .md_7 {
        width:56.333%;
    }

    .container_12 .md_8 {
        width: 64.667%;
    }

    .container_12 .md_9 {
        width: 73.0%;
    }

    .container_12 .md_10 {
        width: 81.333%;
    }

    .container_12 .md_11 {
        width: 89.667%;
    }

    .container_12 .md_12 {
        width: 98.0%;
    }

    .md-offset_0{
        margin-left:10px;
    }

    .md-offset_1{
        margin-left:8.333%;
    }

    .md-offset_2{
        margin-left:14.667%;
    }
    .md-offset_3{
        margin-left:23.0%;
    }
    .md-offset_4{
        margin-left:31.3333%;
    }
    .md-offset_5{
        margin-left:39.667%;
    }
    .md-offset_6{
        margin-left:48.0%;
    }
    .md-offset_7{
        margin-left:56.33%;
    }
    .md-offset_8{
        margin-left:64.667%;
    }
    .md-offset_9{
        margin-left:73.0%;
    }
    .md-offset_10{
        margin-left:81.333%;
    }
    .md-offset_11{
        margin-left:89.667%;
    }
    .md-offset_12{
        margin-left:98%;
    }

}

@media screen and (max-width: 999px) {
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12 {
        margin-left: 5px;
        margin-right: 5px;
    }

    .container_12 .m_1 {
        width: 6.333%;
    }

    .container_12 .m_2 {
        width: 14.667%;
    }

    .container_12 .m_3 {
        width: 23.0%;
    }

    .container_12 .m_4 {
        width: 31.333%;
    }

    .container_12 .m_5 {
        width: 39.667%;
    }

    .container_12 .m_6 {
        width: 48.0%;
    }

    .container_12 .m_7 {
        width:56.333%;
    }

    .container_12 .m_8 {
        width: 64.667%;
    }

    .container_12 .m_9 {
        width: 73.0%;
    }

    .container_12 .m_10 {
        width: 81.333%;
    }

    .container_12 .m_11 {
        width: 89.667%;
    }

    .container_12 .m_12 {
        width: 100.0%;
    }

    .m-offset_0{
        margin-left:10px;
    }

    .m-offset_1{
        margin-left:8.333%;
    }

    .m-offset_2{
        margin-left:14.667%;
    }
    .m-offset_3{
        margin-left:23.0%;
    }
    .m-offset_4{
        margin-left:31.3333%;
    }
    .m-offset_5{
        margin-left:39.667%;
    }
    .m-offset_6{
        margin-left:48.0%;
    }
    .m-offset_7{
        margin-left:56.33%;
    }
    .m-offset_8{
        margin-left:64.667%;
    }
    .m-offset_9{
        margin-left:73.0%;
    }
    .m-offset_10{
        margin-left:81.333%;
    }
    .m-offset_11{
        margin-left:89.667%;
    }
    .m-offset_12{
        margin-left:98%;
    }
}

@media screen and (max-width: 830px) {
    .container_12 .ms_1 {
        width: 6.333%;
    }

    .container_12 .ms_2 {
        width: 14.667%;
    }

    .container_12 .ms_3 {
        width: 23.0%;
    }

    .container_12 .ms_4 {
        width: 31.333%;
    }

    .container_12 .ms_5 {
        width: 39.667%;
    }

    .container_12 .ms_6 {
        width: 48.0%;
    }

    .container_12 .ms_7 {
        width:56.333%;
    }

    .container_12 .ms_8 {
        width: 64.667%;
    }

    .container_12 .ms_9 {
        width: 73.0%;
    }

    .container_12 .ms_10 {
        width: 81.333%;
    }

    .container_12 .ms_11 {
        width: 89.667%;
    }

    .container_12 .ms_12 {
        width: 98.0%;
    }
}

@media screen and (max-width: 720px) {
    .container_12 .s_1 {
        width: 23%;
    }
    .container_12 .s_2 {
        width: 48%;
    }
    .container_12 .s_3 {
        width: 73%;
    }
    .container_12 .s_4 {
        width: 98%;
    }

    .s-offset_0{
        margin-left:5px;
    }

    .s-offset_1{
        margin-left:23.0%;
    }

    .s-offset_2{
        margin-left:48.0%;
    }

    .s-offset_3{
        margin-left:73.0%;
    }

    .s-offset_4{
        margin-left:98%;
    }
}

@media screen and (max-width: 640px) {
    .xs_1, .xs_2, .xs_3, .xs_4 {
        display: inline;
        float: left;
        position: relative;
    }

    .container_12 .xs_1 {
        width: 23%;
    }
    .container_12 .xs_2 {
        width: 48%;
    }
    .container_12 .xs_3 {
        width: 73%;
    }
    .container_12 .xs_4 {
        width: 98%;
    }
}

@media screen and (max-width: 500px) {
    .container_12 .xxs_1 {
        width: 23%;
    }
    .container_12 .xxs_2 {
        width: 48%;
    }
    .container_12 .xxs_3 {
        width: 73%;
    }
    .container_12 .xxs_4 {
        width: 98%;
    }
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}