// font
$rosario: Rosario, arial, sans-serif;


//font-weight:
$light:200;
$regular:300;
$mediumWeight:400;
$semiBold:600;
$bold:600;

//font-size:
$big:32px;
$mediumBig:27px;
$medium:20px;
$mediumSmall:18px;
$normalBig:16px;
$normal:14px;
$small:10px;

$spaced:1px;


$lineheightMediumSmall:27px;

// COLOR
$elecBlue:#2153F4;
$darkBlue:#0D1126;
$white:white;
$black:black;


$vivasvatYellow:#FFF296;
$textGrey:#393939;
$textMediumGrey:#6C6C6C;
$lightGrey:#E6E6E6;
