// font
$rosario: Rosario, arial, sans-serif;


//font-weight:
$light:200;
$regular:300;
$mediumWeight:400;
$semiBold:600;
$bold:600;

//font-size:
$bigTitle:2em;
$title:1.6em;
$medium:1.2em;
$normal:1.1em;
$small:.9em;
$verySmall:.7em;


$spaced:1px;


$lineheightMediumSmall:27px;

// COLOR
$elecBlue:#2153F4;
$darkBlue:#0D1126;
$white:white;
$black:black;


$vivasvatYellow:#FFF296;
$textGrey:#393939;
$textMediumGrey:#6C6C6C;
$lightGrey:#E6E6E6;
$white:#fff;

//SIZES
$header-height: 120px;
$footer-height:60px;

$quoteDiscRadius:60px;
